mixin Link(sref, srefActive, srefOptions, ngDisabled)
	//- dont use srefActive
	if ngDisabled
		span(ng-hide=ngDisabled).ng-hide
			a(class!=attributes.class, ui-sref=sref, ui-sref-opts=srefOptions, href=attributes.href).pyLink
				block
		span(ng-show=ngDisabled).ng-hide
			block
	else
		a(class!=attributes.class, ui-sref=sref, ui-sref-opts=srefOptions, href=attributes.href).pyLink
			block