mixin PasswordScore(label, score, advice)
	div.row
		span.col-xs-12
			label= t(label)
		span.col-xs-12
			+ValidationInformation(advice)
	div.progress.row
		div(ng-show=score + '===0').ng-hide.progress-bar.progress-bar-danger.col-xs-12
		div(ng-show=score + '===1', style='width: 25% !important').ng-hide.progress-bar.progress-bar-danger.col-xs-12= t('passwordStrength.scoreOptions.1')
		div(ng-show=score + '===2', style='width: 50% !important').ng-hide.progress-bar.progress-bar-warning.col-xs-12= t('passwordStrength.scoreOptions.2')
		div(ng-show=score + '===3', style='width: 75% !important').ng-hide.progress-bar.progress-bar-success.col-xs-12= t('passwordStrength.scoreOptions.3')
		div(ng-show=score + '===4', style='width: 100% !important').ng-hide.progress-bar.progress-bar-success.col-xs-12= t('passwordStrength.scoreOptions.4')